

.logbox {
    background-color: black;
    height: 300px;
    width: 100%;
    border-radius: 0.5em;
    margin-top: 0.2em;
    color: white;
    padding: 0.5em;
    font-family: monospace;
    overflow: scroll;
}

.logbox-line {
    display: flex;
    flex-direction: row;
    margin-bottom: 8px;
}

.logbox-time {
    margin-right: 0.5em;
    color: grey;
}

.logbox-line.warning {
    color: orange;
}

.logbox-line.error {
    color: red;
}

.databox {
    background-color: black;
    width: 100%;
    border-radius: 0.5em;
    color: white;
    padding: 0.5em;
    font-family: monospace;
}

.databox-line {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}